In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import seaborn as sns

In [4]:
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("1324500994198_IceCreamData.csv")

In [6]:
df.head(10)

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194
5    14.352514  367.940744
6    13.707780  308.894518
7    30.833985  696.716640
8     0.976870   55.390338
9    31.669465  737.800824

In [10]:
df.tail(10)

     Temperature     Revenue
490    23.824922  584.399945
491    34.472169  809.352519
492    23.056214  552.819351
493    14.931506  377.430928
494    25.112066  571.434257
495    22.274899  524.746364
496    32.893092  755.818399
497    12.588157  306.090719
498    22.362402  566.217304
499    28.957736  655.660388

In [7]:
df.shape

(500, 2)

In [9]:
df.describe()

       Temperature      Revenue
count   500.000000   500.000000
mean     22.232225   521.570777
std       8.096388   175.404751
min       0.000000    10.000000
25%      17.122258   405.558681
50%      22.392791   529.368565
75%      27.740674   642.257922
max      45.000000  1000.000000

In [16]:
x=df["Temperature"]

In [17]:
print(x.head(5))

0    24.566884
1    26.005191
2    27.790554
3    20.595335
4    11.503498
Name: Temperature, dtype: float64

In [18]:
y=df["Revenue"]

In [19]:
y.head(5)

0    534.799028
1    625.190122
2    660.632289
3    487.706960
4    316.240194
Name: Revenue, dtype: float64

# defining x_train and y_train

In [20]:
from sklearn.model_selection import train_test_split

In [93]:
x_train = df['Temperature'].values.reshape(-1, 1)

In [22]:
y_train = df['Revenue'].values

In [28]:
x_train
print(x_train.shape)

(500,)

In [29]:
mean_x = np.mean(x_train)
mean_y = np.mean(y_train)

In [37]:
m = len(x_train)
print(m)

500

In [38]:
w = 21
b = 10

w = 21.443625510680278
b = -10594.54178001046

In [41]:
def compute_cost(x_train, y_train, w,b):
    cost = 0
    total_cost = 0
    
    for i in range(m):
        f = w * x_train[i] + b
        cost = cost + (f - y_train[i])**2
        
    total_cost = cost/(2*m)  
    return total_cost

In [60]:
compute_cost(x_train,y_train,w,b)

np.float64(11617.574829874267)

In [ ]:
x = combined['a']
y = combined['b']
z = combined['c']

In [51]:
def __init__(self,learning,itr):
    self.learning = learning
    self.itr = itr

In [64]:
def update_weigths(self): 
    pred = self.predict(self.x_train) 
    dw = -(self.x_train).dot(self.y_train - pred)/self.m 
    db = -np.sum(self.y_train - pred)/self.m 
    self.w = self.w - self.learning_rate * dw 
    self.b = self.b - self.learning_rate * db

In [65]:
def fit(self , x_train,y_train):
    self.row,self.column = x_train.shape
    self.w = w
    self.b = b
    self.x_train = x_train
    self.y_train = y_train
    
    for i in range(itr):
        self.update_w()

In [66]:
def predict(self, X): 
    return X.dot(self.w) + self.b 

def print_weights(self): 
    print('Weights are:') 
    print(self.w) 
    print() 

    print('Bias value:', self.b)

In [68]:
model = __init__(learning=0.03, itr=2000) 
model.fit(x_train, y_train)

TypeError: __init__() got an unexpected keyword argument 'no_of_itr'

In [62]:
w = 21.443625510680278 
b = -1050.54178001046
compute_cost(x_train,y_train,w,b)

np.float64(600232.6043403415)

In [63]:
#Creating the figure

In [ ]:
fig = plt.figure(figsize=(10,7))
ax = plt.axes(projection = "3d")
#creating plot
ax.scatter3D(x,y,x,color = 'green')
plt.title("weight vs bias vs cost")
ax.set_xlabel('Weight')
ax.set_ylabel('Bias')
ax.set_zlabel('Cost')
plt.grid(True)
plt.show()

In [100]:
model = lin(learning=0.03, itr=2000) 
model.fit(x_train, y_train)

C:\Users\Shubham\AppData\Local\Temp\ipykernel_21072\920920040.py:22: RuntimeWarning: invalid value encountered in scalar subtract
  self.b = self.b - self.learning * db

In [99]:
plt.scatter(2000, pred) 
plt.xlabel('iteration') 
plt.ylabel('cost') 
plt.title('iteration vs cost') 


 
plt.show()

NameError: name 'pred' is not defined